@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

body {
	background: #000;
	font-family: "Dancing Script";
}

.contenedor {
	background: #000;
	margin: 150PX;
}

.contenedor {
	position: relative;
	-webkit-animation: mymove 5s;
}

@-webkit-keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
 /* 0%   {top: 0px;}
 
*/
  0% {
margin-top: 150%;
}
60% {
margin-top: -5%;
}
100% {
margin-top: 0;
}
}

header {
background-color: #5b7989;
border-radius: 10px 10px 0 0;
}

header nav h1 {
color: #fff;
text-shadow: 2px 2px #02010a;
display: inline-flex;
padding-left: 10%;
padding-right: 40%;
}

header nav a {
padding-left: 4%;
color: white;
}
.elemento2 {
	background: #82c3a6;
	/*margin: 10px;*/
	/*height: 10px;*/
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

}
 .elemento2 img {
 	margin: 20px;
 	width: 300px;
 	height: 300px;
 }

.borroso{
	filter: blur(10px);
}

.grises{
	filter: grayscale(100%);
}

.sepia{
	filter: sepia(90%);
}
 .elemento3 {
 	background: #C6d5c5;
 }

 footer{
 	font-family: "Dancing Script";
 	font-size: 20px;
	height: 300px;
	padding: 20px;
	display: flex;
	text-decoration: none;
	justify-content: space-between;

}